<h4>Internal Server Error - refreshing the page will make the error disappear!</h4>
<ng-container a-ngIf="error">
  <h5 class="text-danger">Error:{{error.message}}</h5>
  <p class="font-weight-bold">Note: if you are seeing this then angular is probagbly not to blame</p>
  <p>what to do next?</p>
  <ol>
    <li>open the chrome dev tools</li>
    <li>inspect the network tab</li>
    <li>check the failing request</li>
    <li>examine the request URL - make sure it is correct</li>
    <li>reproduce the error in Postman - if we see the same response, then the issue is not with angular</li>
  </ol>
  <p>Following is the stack trace - this is where your investigation should start!</p>
  <code class="mt-f" style="background-color: whitesmoke">{{error.details}}</code>
</ng-container>
