<div class="container mt-f">
  <div *ngIf="(accountService.currentUser$ | async) === null">
    <div *ngIf="!registerMode" style='text-align: center;'>
      <h1>Find your Yiffhole</h1>
      <p class="lead">Come on in to find the right hole for your plug... all you need to do is sign up!</p>
      <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        <button class="btn btn-primary btn-lg">Learn More</button>
      </div>
    </div>
    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register [usersFromHomeComponent]='users' (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(accountService.currentUser$ | async)">
    <div class="form-group">
      <label>what is your favorite user?</label>
      <select class="form-control">
        <option *ngFor="let user of users" [value]="user.userName">
          {{user.userName}}
        </option>
      </select>
    </div>
  </div>
  </div>
